{% extends "layout.html" %}
{% block content %}
<div class="main_content col-md-6">
  <div class="content" ng-show="now_show=='text'">
    <div class="main_r_header">
        <h2>Что нового в версии {{ version }}</h2>
    </div>
    <ul>
        <li>
            Разработана партнерская программа для совместных покупок.
        </li>
        <li>
            Изменены некоторые графические элементы для удобства работы с нашим сервисом.
        </li>
        <li>
            Добавлена возможность обязательного подтверждения регистрации посредством СМС.
        </li>
        <li>
            Добавлены новые товары в магазине.
        </li>
        <li>
            Появилась возможность сотрудничества с интернет магазинами по всему миру.
        </li>
        <li>
            Улучшена защита сайта и ваших личных кабинетов посредством внедрения шифрования данных https.
        </li>
        <li>
            Разработаны новые виды статистик, позволяющих вам более конкретно оценивать свою деятельность!
        </li>
    </ul>
  </div>
  <form class="form-horizontal reg-form" ng-show="now_show=='register'" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <p class="lead">
          Регистрация <span class="pull-right">
              <a ng-click="now_show='text'" class="glyphicon glyphicon-remove"></a>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Имя</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Имя" ng-model="form_data.fields.fname">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Фамилия</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Фамилия" ng-model="form_data.fields.lname">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Почта</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Почта" ng-model="form_data.fields.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Страна</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Страна" ng-model="form_data.fields.country">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Город</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Город" ng-model="form_data.fields.city">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Телефон </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Телефон" ng-model="form_data.fields.phone">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Пароль </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder-block="Телефон" ng-model="form_data.fields.password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Повторите пароль </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder-block="Телефон" ng-model="form_data.fields.repassword">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Вас пригласил</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="" ng-model="form_data.fields.referal">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="form_data.fields.icheck"> Я ознакомен с правилами сайта
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="form_data.send_reg();" type="submit" class="btn btn-default">Далее</button>
      </div>
    </div>
  </form>

  <form class="form-horizontal reg-form" ng-show="now_show=='auth'" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <p class="lead">
          Авторизация <span class="pull-right">
              <a ng-click="now_show='text'" class="glyphicon glyphicon-remove"></a>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Почта/телефон</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder-block="Имя" ng-model="form_data.fields.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Пароль</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder-block="Имя" ng-model="form_data.fields.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="form_data.send_auth();" type="submit" class="btn btn-default">Отправить</button>
      </div>
    </div>
  </form>
</div>

{% end %}