{% extends "layout.html" %}
{% block content %}
<div class="col-md-9 content" ng-controller="UserController">
	<div class="row">
		<div class="col-md-3">
			<div class="form-userinfo show">
				<div class="userpick">
					<img src="/user/info/userpick" alt="">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Имя" ng-model="user_profile.fname">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Фамилия" ng-model="user_profile.lname">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Почта" ng-model="user_profile.email">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Страна" ng-model="user_profile.country">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Город" ng-model="user_profile.city">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Телефон" ng-model="user_profile.phone">
				</div>
				<div class="row-form">
					<input type="text" placeholder="Вас пригласил" ng-model="user_profile.referal">
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<!-- <div class="header blocks">
				<div class="block">
					<div class="top">Реферальная ссылка</div>
				</div>
				<div class="block">
					<div class="top">Приглашение по email</div>
				</div>
				<div class="block">
					<div class="top">СМС-приглашение</div>
				</div>
				<div class="clearfix"></div>
			</div> -->
			<div class="header row">
				<div class="col-md-4">
					<div class="thumbnail">
						<div class="top text-center">
							<a href="" class="btn btn-sm btn-default">Реферальная ссылка</a>
						</div>
						<div class="caption">
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<div class="top text-center">
							<a href="" class="btn btn-sm btn-default">Приглашение по email</a>
						</div>
						<div class="caption">
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<div class="top text-center">
							<a href="" class="btn btn-sm btn-default">СМС-приглашение</a>
						</div>
						<div class="caption">
							
						</div>
					</div>
				</div>
			</div>

			<div class="body row">
				<div class="col-md-4 block-my">
					<div class="wrapper">
						<p>Куплено товаров</p>
						<div class="field">{$ user_profile.count_prod $}</div>
					</div>
				</div>
				<div class="col-md-4 block-my">
					<div class="wrapper">
						<p>Потрачено</p>
						<div class="field">{$ user_profile.out_money $} EUR</div>
					</div>
				</div>
				<div class="col-md-4 block-my">
					<div class="wrapper">
						<p>Заработанно</p>
						<div class="field">{$ user_profile.in_money $} EUR</div>
					</div>
				</div>
				<div class="col-md-4 block-my">
					<div class="wrapper">
						<p>Мои покупатели</p>
						<div class="field">{$ user_profile.my_cli $}</div>
					</div>
				</div>
				<div class="col-md-4 block-my">
					<div class="wrapper">
						<p>Всего покупателей</p>
						<div class="field">{$ user_profile.all_cli $}</div>
					</div>
				</div>
				<div class="col-md-4 block-my">
					<div class="wrapper">
						<p>Рейтинг</p>
						<div class="field">
						    Скоро
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-8 text-center outcash">
					<a href="" class="btn btn-sm btn-danger">Вывести средства</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% end %}

{% block header %}
<div class="top-header col-md-7 col-md-offset-1">
    <h1>Моя страница</h1>
</div>
{% end %}