<!doctype html>
<html ng-app="quickstart" lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} QuickStart {% end %}</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/angular-resource.min.js"></script>
    <script src="/js/libs/angular-route.min.js"></script>
    <script src="/js/libs/angular-sanitize.min.js"></script>
    <script src="/js/app/User/UserController.js"></script>
    <script src="/js/app/User/UserService.js"></script>
    <script src="/js/app/Shop/ShopController.js"></script>
    <script src="/js/app/Shop/ShopService.js"></script>
    <script src="/js/app/Item/ItemController.js"></script>
    <script src="/js/app/Item/ItemService.js"></script>
    <script src="/js/app/main.js"></script>
    <!-- <script src="/js/app/route.js"></script> -->
</head>

<body ng-controller='{% block controller_js %}StartPage{% end %}'>
    <div style="opacity:1" class="line" id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 left">
                    <img style="opacity:1" class="logo" src="/imgs/logo.png" alt="">
                    <span class="pull-right">
                        ver. {{ version }}
                    </span>
                </div>
                {% if not user_id %}
                <div class="col-md-2 col-md-push-7">
                    <p class="">
                        Нас уже: <span>{{ user_count }}</span>
                    </p>
                    <p>
                        <a ng-click="now_show='auth';" class="btn btn-default">Авторизация</a>
                    </p>
                    <p>
                        <a ng-click="now_show='register';" class="btn btn-default">Регистрация  </a>
                    </p>
                </div>
                {% end %}
                {% block header %}
                {% end %}
            </div>
        </div>
    </div>
    <div class="line content last">
        <div class="container">
            <div class="row">
                <div id="left_menu" class="col-md-3">
                {% for item in menu %}
                    <div class="element">
                        <a href="{{ item['url'] }}">{{ item['title'] }} {% if item.has_key('new') %}<span class="new label">(new)</span>{% end %}</a>
                    </div>
                {% end %}
                </div>
                {% block content %} {% end %}
            </div>
        </div>
    </div>
    <!-- <div id="footer" class="line">
        <div class="container">
            &copy; quick store, 2014
        </div>
    </div> -->
</body>

</html>
