{% extends "layout.html" %}
{% block content %}
<div ng-controller="ShopController" ng-init="init('main')">
	<div class="col-md-2 col-md-push-7">
		<div class="btn-shop" ng-repeat="shop in list_shops">
			<a href="#/s{$ shop.id $}" ng-click="open_shop(shop.id)" class="btn btn-default">{$ shop.title $}</a>
		</div>
		{% if 'a' in user_mode %}
			<div class="admin">
				<div class="text-center">
					<a href="/shop/add_shop" class="btn add btn-sm btn-success">+</a>
				</div>
			</div>	
		{% end %}
	</div>
	<div class="col-md-7 col-md-pull-2">
		<a href="/item/new/{$shop_open.id$}" ng-show="shop_open.isadmin" class="btn btn-sm btn-default">Добавить</a>
	</div>
</div>
{% end %}

{% block header %}
<div class="top-header col-md-7 col-md-offset-1">
    <h1>Магазин</h1>
</div>
{% end %}