{% extends "layout.html" %}
{% block content %}
<div class="col-md-5" ng-controller="ItemController" ng-init="init('add-item',{{sid}});">
	<div class="header">
		<p class="lead">Добавить продукт</p>
	</div>
	<div class="form body">
		<div class="form-group">
			<label for="">
				Название
			</label>
			<input type="text" class="form-control" ng-model="item.title">
		</div>
		<div class="form-group">
			<label for="">
				Описани
			</label>
			<textarea class="form-control" row='5' ng-model="item.descript"></textarea>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<label for="">Цена А</label>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="item.pricea">
						<div class="input-group-addon">€</div>
					</div>
				</div>
				<div class="col-md-4">
					<label for="">Цена B</label>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="item.priceb">
						<div class="input-group-addon">€</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="">
				Изображение
			</label>
			<input id="file-item-photo" type="file">
		</div>
		<div class="form-group">
			<a href="" ng-click="post_item()" class="btn btn-success">Создать</a>
		</div>
	</div>
</div>
<div class="col-md-2 col-md-pull-5">

</div>
{% end %}

{% block header %}
<div class="top-header col-md-7 col-md-offset-1">
    <h1>Магазин</h1>
</div>
{% end %}