{% extends "layout.html" %}
{% block content %}
<div class="col-md-5" ng-controller="ShopController" ng-init="init('add-shop');">
	<div class="header">
		<p class="lead">Добавить магазин</p>
	</div>
	<div class="form body">
		<div class="form-group">
			<label for="">
				Название
			</label>
			<input type="text" class="form-control" ng-model="info_shop.title">
		</div>
		<div class="form-group">
			<label for="">
				Описани
			</label>
			<textarea class="form-control" row='5' ng-model="info_shop.text"></textarea>
		</div>
		<div class="form-group">
			<label for="">
				Ответственный
			</label>
			<div class="input-group">
				<input type="text" class="form-control" disabled="1" placeholder="Выберите пользователя" ng-model="info_shop.user_name">
				<div class="input-group-addon"><a href="" ng-click="show_user_list=1">@</a></div>
			</div>
			<div class="drop-down" ng-show="show_user_list==1">
				<p ng-repeat="user in user_shop_list">
					<a href="" ng-click="select_user(user);">{$ user.fname $} {$ user.lname $} - {$ user.email $}</a>
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="">
				Фон кнопки
			</label>
			<input type="file">
		</div>
		<div class="form-group">
			<a href="" ng-click="post_shop()" class="btn btn-success">Создать</a>
		</div>
	</div>
</div>
<div class="col-md-2 col-md-pull-5">

</div>
{% end %}

{% block header %}
<div class="top-header col-md-7 col-md-offset-1">
    <h1>Магазин</h1>
</div>
{% end %}