{% extends "layout.html" %}
{% block content %}
<div class="col-md-7" ng-controller="UserControllerAdmin" ng-init="init('list')">
	<div class="header">
		<p class="lead">Список пользователей</p>
	</div>
	<div class="list">
		<table class="table">
			<thead>
				<tr>
					<td>Пользователь</td>
					<td>Контакты</td>
					<td>п</td>
					<td>м</td>
					<td>а</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in user_list">
					<td>{$user.fname$} {$user.lname$} <span class="">({$user.id$})</span></td>
					<td><span class="phone">{$user.phone$}</span> <span class="email">{$user.email$}</span></td>
					<td>
						<span ng-click="remove_type('u');" class="glyphicon pointer glyphicon-ok" ng-show="user.types.indexOf('u')>-1"></span>
						<span ng-click="add_type('u');" class="glyphicon pointer glyphicon-remove" ng-show="user.types.indexOf('u')==-1"></span>
					</td>
					<td>
						<span ng-click="remove_type('s');" class="glyphicon pointer glyphicon-ok" ng-show="user.types.indexOf('s')>-1"></span>
						<span ng-click="add_type('s');" class="glyphicon pointer glyphicon-remove" ng-show="user.types.indexOf('s')==-1"></span>
					</td>
					<td>
						<span ng-click="remove_type('a');" class="glyphicon pointer glyphicon-ok" ng-show="user.types.indexOf('a')>-1"></span>
						<span ng-click="add_type('a');" class="glyphicon pointer glyphicon-remove" ng-show="user.types.indexOf('a')==-1"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% end %}

{% block header %}
<div class="top-header col-md-7 col-md-offset-1">
    <h1>Пользователи</h1>
</div>
{% end %}