.modal_main{
	@in_h:40px;
	@in_w:260px;	
	position: fixed;
	background: rgba(0,0,0,.4);
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	z-index: 5000;
	& .bg{
		position: absolute;
		left:0px;
		top:0px;
		width: 100%;
		height: 100%;
		z-index: 1000;
	}
	& .button{
		font-family: 'ComfortaaRe', 'Ubuntu', serif;
		border:none;
		font-size: @font-def-size;
		border-left: solid 3px #929292;
		border-right: solid 3px #f2f4f4;
		.gradient-horizont(#d0d4dc,#b9c2c6);
		.drop-shadow(-2px,3px,4px,.4);
		.rounded(10px);
		text-align: center;
		display: block;
		color:black;
		padding: 7px 5px;
		margin-top: 15px;
		cursor: pointer;
	}

	& .singup, .singin{
		@w: @in_w + 65px;
		width: @w;
		position: absolute;
		left:50%;
		top:50%;
		margin-left: -@w/2;
		margin-top: -@w/2;
		background: white;
		z-index: 5000; 		
		.rounded(10px);
		& .wrapper{
			margin:20px 20px;
			& .header{
				font-size: 110%;
			}
		}
	}
	& .singin{
		@w: @in_w + 60px;
		margin-top: -@w/1.3;
	}

	& .row{
		&.btns{
			margin-top: @space*2;
			padding-top: @space*0.3;
			border-top: solid 1px #eee;
		}
		margin-top: @space*2;
		& label{
			display: block;
			font-size: @font-def-size;
			margin-bottom: @space/2;
		}
		& input{
			font-family: 'ComfortaaRe', 'Ubuntu', serif;
			border:none;
			font-size: @font-def-size;
			padding: 0px 10px;
			// text-align: right;
			border-left: solid 3px #929292;
			border-right: solid 3px #f2f4f4;
			.gradient-horizont(#d0d4dc,#b9c2c6);
			.drop-shadow(-2px,3px,4px,.4);
			height: @in_h;
			width: @in_w;
			.rounded(15px);
		}
	}
}
