#footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: url(/imgs/bg.jpg);
	background-size: cover;
	background-position: center;
	background-size: 400px;
	color:black;
	font-size: 70%;
	text-align: center;
	& .wrapper{
		margin: 10px 0px;
	}
	& .bgrad{
		.opacity(.9);
	}
}

#header_line{
	width: 100%;
	position: relative;
	min-height: 10	0px;
	background: red;
	display: block;
	& .float{
		float:left;
	}
}