<div class="main_r_header">
    <h2>Совместные покупки</h2>
</div>
<div class="main_r_content">
    <div class="cont-wrap gradient">
        <div class="row">
            <div class="float column-8 table">
                <div class="header">
                    <div class="wrap">
                        Ваш стол заказов 500 EUR
                    </div>
                </div>
                <div class="tables">
                    <div class="table_one" ng-repeat="(k,table) in tables">
                        <table>
                            <tr>
                                <td>
                                    <div class="td_wrap">{{table[0].name}} {{table[0].id}}</div>
                                </td>
                                <td>
                                    <div class="td_wrap">{{table[1].name}} {{table[1].id}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="td_wrap">{{table[2].name}} {{table[2].id}}</div>
                                </td>
                                <td>
                                    <div class="td_wrap">{{table[3].name}} {{table[3].id}}</div>
                                </td>
                            </tr>
                        </table>
                        <div class="num">
                            <span>{{k+1}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="float column-2">
                <div class="btns-rigth">
                    <div class="btn ">
                        50 EUR
                    </div>
                    <div class="btn">
                        100 EUR
                    </div>
                    <div class="btn active">
                        500 EUR
                    </div>
                    <div class="btn">
                        1000 EUR
                    </div>
                    <div class="btn">
                        5000 EUR
                    </div>
                </div>
                <div class="profit">
                    <p class="title">
                        Заработанно:
                        <span>{{profit.in}} EUR</span>
                    </p>
                    <p class="title">
                        Потрачено:
                        <span>{{profit.out}}  EUR</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
