@font-face {
    font-family: ComfortaaRe;
    src: url("/css/fonts/ComfortaaRegular.eot");
}
@font-face {
    font-family: ComfortaaRe;
    src: url("/css/fonts/ComfortaaRegular.ttf");
}
@font-face {
    font-family: ComfortaaRe;
    src: url("/css/fonts/ComfortaaBold.eot");
    font-weight: bold;
}
@font-face {
    font-family: ComfortaaRe;
    src: url("/css/fonts/ComfortaaBold.ttf");
    font-weight: bold;
}
body, html {
    font-family: 'ComfortaaRe', 'Ubuntu', serif;
    color: @text_color;
	width: 100%;
    height: 100%;
    position: relative;
}
a {
    color: @text_color;
	text-decoration: none;
}

//Фоны
body {
    background: @main_bg_color;
}
.bgrad {
    display: block;
    position: absolute;
    z-index: 11;
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
    &.n1 {
        background: url(/imgs/bg_grad.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .opacity(.6);
    }
    &.n2 {
        background: url(/imgs/bg_green.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: left bottom;
        .opacity(.99);
    }
    &.blue{
    	position: absolute;
		background: @bg_color;
    }
}


.main{
	display: block;
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 100;
	& .wrapper{
		&.content{
			position: relative;
			z-index: 200;
		}
	}
}


