/*reset*/

@import "../libs/reset";
@import "../libs/elements";

.debug(){
	// background: rgba(255,0,0,.1)!important;
}
*{
	.debug();
}

//options
@main_bg_color: #b4e2da;
@text_color: #356096;
@bg_color: #335d91;


@import "common";
@import "header_line";
@import "id";