<!doctype html>
<html ng-app="quickstart" lang="en">

<head>
    <meta charset="UTF-8">
    <title>QuickStart - Авторизация</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/angular-resource.min.js"></script>
    <script src="/js/libs/angular-route.min.js"></script>
    <script src="/js/libs/angular-sanitize.min.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/route.js"></script>
    <script src="/app/modal/modal.js"></script>
</head>

<body ng-controller="StartPage">
    <div class="body__wrapper">
        <div class="header_absolut">
            <div class="logo">
                <img src="/imgs/quick.png" alt="">
                <p>Это мы</p>
            </div>
            <div class="form">
                <p>Нас уже:
                    <span>3585</span>
                </p>
                <div class="button" ng-click="modal.name_modal='auth'">
                    Авторизация
                </div>
                <div class="button" ng-click="modal.name_modal='reg'">
                    Регистрация
                </div>
            </div>
        </div>
        <div class="column__main">
            <div class="column__main_l">
            </div>
            <div class="column__main_r_index">
                <div class="main_r_content_index">
                    <div class="main_r_header">
                        <h2>Что нового в версии 1.0</h2>
                    </div>
                    <ul>
                        <li>
                            Разработана партнерская программа для совместных покупок.
                        </li>
                        <li>
                            Изменены некоторые графические элементы для удобства работы с нашим сервисом.
                        </li>
                        <li>
                            Добавлена возможность обязательного подтверждения регистрации посредством СМС.
                        </li>
                        <li>
                            Добавлены новые товары в магазине.
                        </li>
                        <li>
                            Появилась возможность сотрудничества с интернет магазинами по всему миру.
                        </li>
                        <li>
                            Улучшена защита сайта и ваших личных кабинетов посредством внедрения шифрования данных https.
                        </li>
                        <li>
                            Разработаны новые виды статистик, позволяющих вам более конкретно оценивать свою деятельность!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="modal.name_modal" class="modal_main">
        <div ng-show="modal.name_modal=='auth'" class="form singup">
            <div class="wrapper">
                <div class="header">
                    <p>Авторизация</p>
                </div>
                <div class="content">
                    <div class="row">
                        <label for="login">Телефон или email</label>
                        <input type="text" name='login' ng-model="modal.data.login" />
                    </div>
                    <div class="row">
                        <label for="login">Пароль</label>
                        <input type="password" name="pwd" ng-model="modal.data.pwd" />
                    </div>
                    <div class="row btns">
                        <div class="button" ng-click="modal.send_auth();">
                            Отправить
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="modal.name_modal=='reg'" class="form singin">
            <div class="wrapper">
                <div class="header">
                    <p>Регистрация</p>
                </div>
                <div class="content">
                    <div class="row">
                        <label for="login">Телефон или email</label>
                        <input type="text" name='login' ng-model="modal.data.login" />
                    </div>
                    <div class="row">
                        <label for="login">Пароль</label>
                        <input type="password" name="pwd" ng-model="modal.data.pwd" />
                    </div>
                    <div class="row">
                        <label for="login">Повторите пароль</label>
                        <input type="password" name="repwd" ng-model="modal.data.repwd" />
                    </div>
                    <div class="row btns">
                        <div class="button" ng-click="modal.send_reg();">
                            Отправить
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg" ng-click="modal.name_modal=''"></div>
    </div>
    <div class="bgrad n1"></div>
    <div class="bgrad n2"></div>
</body>

</html>

<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Site</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
    <div class="main">
        <div id="header_line">
            <div class="float p80">
                <img src="/imgs/quick.png" alt="">
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="footer">
            <div class="wrapper content">
                Здесь важная информация, которая должна быть
            </div>
            <div class="bgrad blue"></div>
        </div>        
    </div>
    <div class="bgrad n1"></div>
    <div class="bgrad n2"></div>
</body>

</html>
 -->
