<!doctype html>
<html ng-app="quickstart" lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Site</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/angular-resource.min.js"></script>
    <script src="/js/libs/angular-route.min.js"></script>
    <script src="/js/libs/angular-sanitize.min.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/route.js"></script>
</head>

<body ng-controller='GlobalController'>
    <div class="body__wrapper">
        <div class="column__main">
            <div class="column__main_l">
                <div class="main_l_wrapper">
                    <div class="logo__big">
                        <img src="/imgs/logo.png" alt="">
                        <p class="ver">ver. 1.0</p>
                    </div>
                    <div class="form__left">
                        <div class="row">
                            <label for="">Баланс</label>
                            <input ng-model="balans.main" type="text">
                        </div>
                        <div class="row">
                            <label for="">Временный баланс</label>
                            <input ng-model="balans.tmp_balans" type="text">
                        </div>
                    </div>
                    <div class="menu__left">
                        <div class="element" ng-repeat="e in menu">
                            <a href="#{{e.url}}">{{e.title}} <span ng-show="e.is_new">(new)</span></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="column__main_r" ng-view>
                
            </div>
        </div>
    </div>
    <div class="bgrad n1"></div>
</body>

</html>
