.bgrad{
	display: block;
	position: absolute;
	&.n1{
		position: fixed;
		z-index: 11;
		width: 100%;
		height: 100%;
		left:0px;
		top:0px;
		background: url(/imgs/bg_grad.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		.opacity(.6);
	}
	&.n2{
		position: fixed;
		z-index: 11;
		width: 100%;
		height: 100%;
		bottom:0px;
		left:0px;
		background: url(/imgs/bg_green.png);
		background-repeat: no-repeat;
		background-size: 450px;
		background-position: left bottom;
		.opacity(.99);
	}
}