.column__main{
	display: block;
	min-height: 100%;
	width: 100%;
	display: block;
	& .column__main_l{
		& .main_l_wrapper{
			position: relative;
			.debug();
		}
	}
	& .column__main_r{
	}
	& .column__main_l,.column__main_r{
		min-height: 10px;
		min-width: 10px;
		display: block;
		float: left;
		position: relative;
		.debug();
	}
}

.column__main_ad(
		@lw:@body__wrapper_width/4,
		@rw:@body__wrapper_width/(4/3), 
		@lw_wrap:@lw/(100/80),
		@lw_w_left: @lw - @lw_wrap,
		@table-width:600px,
		@content-heigth:600px
		){
	& .column__main{
		& .column__main_l{
			width: @lw;
			& .main_l_wrapper{
				width: @lw_wrap;
				left: @lw_w_left
			}
		}
		& .column__main_r{
			width: @rw;
			.debug();
		}
	}
	.column__main_r_ad(
		@t-width:@table-width;
	);
}