.column__main_r{
	& .main_r_header{
		.debug();
		font-size: 200%;
		text-align: center;
		margin-top: 80px;
	}	
	& .main_r_content{
		margin-top: 40px;
		display: block;
		border: solid 10px @border-color;
		.border-radius(0px,0px,20px,20px);
		border-right: none;
		position: absolute;
		overflow: hidden;
		.drop-shadow(-10px,10px,10px,.4);
		& .cont-wrap{
			width: 100%;
			height: 100%;
			display: block;
			overflow-y: scroll;
			.inner-shadow(2px,-2px,10px,.9);
			&.gradient{
				.gradient(#d5dadd,#d5dadd,#d4d9dc);
			}
			&.big-bg{
				background: url(/imgs/bg.jpg);
				background-size: cover;
				background-position: center;
				& .bgi-bg-white{
					background: rgba(240,240,240,.5);

					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
				}
			}
			& .row{
				margin: @space 0px @space @space*2;
				& .float{
					float:left;
				}
				& .table{
					margin-right: 40px;
					& .header{
						font-size: @font-def-size;
						background: url(/imgs/bg.jpg);
						background-position: center;
						border: solid 5px @border-color;
						.rounded(10px);
						overflow: hidden;
						// width: @table-width;
						text-align: center;
						& .wrap{
							background: rgba(200,200,200,.7);
						}
					}
					& .num{
						background: url(/imgs/bg.jpg);
						background-position: center;
						background-size: 400px;
						display: block;
						position: absolute;
						width: 40px;
						height: 40px;
						.rounded(40px);
						border: solid 4px #335d91;
						left:50%;
						top:50%;
						margin-top:-24px;
						margin-left: -24px;
						text-align: center;
						color:white;
						font-size: 30px;
						& span{
							display: block;
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
	& .btns-rigth{
		& .btn{
			font-size: @font-def-size;
			color:#000;
			width: 130px;
			display: block;
			background: red;
			.rounded(10px);
			text-align: center;
			padding: 20px 0px;
			.drop-shadow(-5px,1px,9px,.4);
			.gradient(#d5dadd,#d5dadd,#d4d9dc);
			margin-top: 5px;
			&.active{
				color:#356096;
				.drop-shadow(0px, 0px, 0px, .0);
			}
			cursor: pointer;
		}
	}
	& .profit{
		font-size: 23px;
		margin-top: 20px;
		& .title{
			& span{
				display: block;
				color:#fff;
				text-shadow:0px 0px 1px #000;
				font-size: @font-def-size;
			}
			margin-bottom: 20px;
		}
	}
}
.column__main_r_ad(
		@table-width:600px,
		@content-heigth:500px,
		@rw:@body__wrapper_width/(4/3),
		@t-width:600px,
		@r_in_table_w:200px
	){
	& .column__main_r{
		height: @content-heigth + 300;
		& .main_r_header{
		}
		& .main_r_content{
			width: @t-width;
			height: @content-heigth;
			right: 0px;
			& .cont-wrap{
				& .row{
					& .table{
						margin-right: 20px;
						& .header{
							width: @t-width - @r_in_table_w ;
						}
					}
					& .tables{
						margin-left: 10px;
						margin-top: 10px;
						& .table_one{
							.debug();
							width: (@t-width - @r_in_table_w)/4;
							margin-right:-4px;
							float: left;
							position: relative;
							// overflow: hidden;
							& table{
								font-size: 14px;
								width: (@t-width - @r_in_table_w)/4;
								.debug();
								& tr{
									width: 100%;
									&:nth-child(1){
										vertical-align: top;
									}
									&:nth-child(2){
										vertical-align: bottom;
									}
								}
								& td{
									border: solid 3px @border-color;
									width: 50%;
									
									height: (@t-width - @r_in_table_w)/8 - 12px;
									& .td_wrap{
										overflow: hidden;
										margin:3px;
										width: (@t-width - @r_in_table_w)/8 - 12px;	
										vertical-align: bottom;
										// display: table-cell;
										.debug();
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}
