.form__left{
	& .row{
		margin-top: @space*2;
		& label{
			display: block;
			font-size: @font-def-size;
			margin-bottom: @space/2;
		}
		& input{
			font-family: 'ComfortaaRe', 'Ubuntu', serif;
			border:none;
			font-size: @font-def-size;
			padding: 0px 10px;
			// text-align: right;
			border-left: solid 3px #929292;
			border-right: solid 3px #f2f4f4;
			.gradient-horizont(#d0d4dc,#b9c2c6);
			.drop-shadow(-2px,3px,4px,.4);
		}
	}
}
.form__left_ad(@in_h:60px, @in_w:260px){
	& .form__left{
		& input{
			height: @in_h;
			width: @in_w;
			.rounded(15px);
		}
	}
}