.header_absolut{
	position: absolute;
	width: 100%;
	
	& .logo, .form{

	}
	& .logo{
		margin-left: 5%;
		margin-top: 5%;
		.debug();
		width: 50%;
		& img{
			width: 100%;
		}
		& p{
			font-size: 40px;
		}
	}
	& .form{
		position: absolute;
		right: 100px;
		top: 60px;
		& p{
			color:white;
		}
		& .button{
			font-family: 'ComfortaaRe', 'Ubuntu', serif;
			border:none;
			font-size: @font-def-size;
			border-left: solid 3px #929292;
			border-right: solid 3px #f2f4f4;
			.gradient-horizont(#d0d4dc,#b9c2c6);
			.drop-shadow(-2px,3px,4px,.4);
			.rounded(10px);
			text-align: center;
			display: block;
			color:black;
			padding: 7px 5px;
			margin-top: 15px;
			cursor: pointer;
		}

	}
}
.main_r_content_index{
	position: absolute;
	left:40%;
	top: 250px;
	width: 600px;
	& li{
		line-height: 1.2;
		padding-bottom: 10px;
	}
	& .main_r_header{
		font-size: 30px;
		margin-bottom: 10px;
	}
}