@import "bootstrap";
@import "../libs/elements.less";
@footer_height: 50px;

html,body{
	height: 100%;
}
#header{
	padding-top: 20px;
	& img.logo{
		width: 100%;
	}
	& .left{
		& .pull-right{
			margin-right: 20px;
		}
	}
}
#footer{
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 5px;
	color:@gray-light;
}

#left_menu{
	margin-top: 20px;
	& .element{
		padding: 4px 5px;
		& .label{
			&.new{
				color:red;
			}
		}
	}
}

.line{
	&.content{
		&.last{
			margin: 0 auto @footer_height;
			// height: 100%;
			// display: block;
		}
	}
}

.form-userinfo{
	& .row-form{
		margin: 3px 0px;
		& input{
			padding: 2px 4px;
		}
	}
	&.show{
		& input{
			border:none;
		}
	}
}

.header{
	&.blocks{
		width: 100%;
		& .block{
			padding: 5px 3px;
			background: red;
			float:left;
			width: 30%;
			margin-left: 2%;
		}
	}
	& .thumbnail{
		padding-bottom: 10px;
		& .top{
			& .btn{
				width: 90%;
			}
		}
	}
}
.block-my{
	text-align: center;
	margin-top: 50px;
	& .wrapper{
		& .field{
			border:solid 4px #eee;
			margin: 5px 50px 5px 50px;
			padding: 30px 0px;
		}
	}
}
.outcash{
	margin-top: 30px;
}
.top-header{
	padding-top: 20px;
}
.admin{
	& .btn{
		&.add{
			.rounded(30px);
			font-weight: bold;
		}
	}
}
.table{
	& thead{
		font-weight: bold;
	}
	& .glyphicon{
		&.pointer{
			cursor: pointer;
		}
	}
}

.btn-shop{
	width: 100%;
	margin-bottom: 5px;
	& .btn{
		width: 100%;
	}
}
// /*reset*/
//  @import "../libs/reset";
//  @import "../libs/elements";

// @import 'body__wrapper';
// @import 'column__main';
// @import 'main_l_wrapper';
// @import 'column__main_r';
// @import 'form__left';
// @import 'menu__left';
// @import 'background';
// @import 'header_absolut';

// .debug(){
// 	// background: rgba(200,50,50,.1);
// }
// @space: 10px;
// @font-def-size:18px; 
// @table-width:950px;
// @one-table: @table-width/2;

// /**
// * COLORS
// **/
// @main_bg: #b4e2da;
// @text_color: #356096;
// @gradient_color_1: rgba(80,83,90,.9);
// @gradient_color_2: rgba(216,216,216,.0);
// @border-color:#335d91;

// // @media screen and (min-width:300px) and (max-width: 600px) {
// // 	@space: 10px;
// // 	@font-def-size:18px; 
// // 	@table-width:950px;
// // 	@one-table: @table-width/2;
// // 	@body__wrapper_width:600px;
// // 	.body__wrapper_ad();
// // 	.column__main_ad(@lw:@body__wrapper_width);
// // 	.form__left_ad();
// // 	body, html {
// // 		font-size: @font-def-size;
// // 	}

// // }
// // @media screen and (min-width:601px) and (max-width: 1024px) {
// // 	@space: 10px;
// // 	@font-def-size:18px; 
// // 	@table-width:950px;
// // 	@one-table: @table-width/2;
// // 	@body__wrapper_width:1024px;
// // 	.body__wrapper_ad();
// // 	.column__main_ad(@lw:@body__wrapper_width);
// // 	.form__left_ad();
// // 	body, html {
// // 		font-size: @font-def-size;
// // 	}

// // }
// @media screen and (min-width:10px) and (max-width: 1280px) {
// 	@space: 10px;
// 	@font-def-size: 18px; 
// 	@table-width: 950px;
// 	@one-table: @table-width/2;
// 	@body__wrapper_width:1280px;
// 	.body__wrapper_ad();
// 	.column__main_ad(
// 		@table-width:900px
// 	);
// 	.form__left_ad(@in_h:40px, @in_w:230px);
// 	body, html {
// 		font-size: @font-def-size;
// 	}

// }
// @media screen and (min-width:1281px) {
// 	@space: 10px;
// 	@font-def-size:22px; 
// 	@table-width:950px;
// 	@one-table: @table-width/2;
// 	@body__wrapper_width:100%;
// 	.body__wrapper_ad();
// 	.column__main_ad(
// 		@lw_wrap:80%,
// 		@lw_w_left:20%,
// 		@table-width:1000px
// 	);
// 	.form__left_ad();
// 	body, html {
// 		font-size: @font-def-size;
// 	}

// }


// @font-face {
//  font-family: ComfortaaRe;
//  src: url("/css/fonts/ComfortaaRegular.eot");
// }
// @font-face {
//  font-family: ComfortaaRe;
//  src: url("/css/fonts/ComfortaaRegular.ttf");
// }
// @font-face {
//  font-family: ComfortaaRe;
//  src: url("/css/fonts/ComfortaaBold.eot");
//  font-weight: bold;
// }
// @font-face {
//  font-family: ComfortaaRe;
//  src: url("/css/fonts/ComfortaaBold.ttf");
//  font-weight: bold;
// }

// body, html {
//     font-family:'ComfortaaRe', 'Ubuntu', serif;
//     color: @text_color;
//     width: 100%;
//     height: 100%;
//     background: @main_bg;
//     position: relative;
// }
// a{
// 	color:@text_color;
// 	text-decoration: none;
// }


// .monstr-footer{
// 	position: absolute;
// 	height: 100%;
// 	width: 100%;
	
// 	display: block;
// 	top:0px;
// 	left:0px;
// 	z-index: 100;
// 	// opacity: 0;
// 	& .footer{
// 		width: 100%;
// 		background: url(/imgs/bg.jpg);
// 		background-position: center;
// 		text-align: center;
// 		position: absolute;
// 		z-index: 50;
// 		bottom: 0px;
// 		left: 0px;
// 		color:#fff;
// 		display: block;
// 		& .wrap{
// 			padding: 10px 0px;
// 			width: 100%;
// 			height: 100%;
// 			background: rgba(52,95,149,.9);
// 		}
// 	}
// }
// .space-footer{
// 	height: 50px;
// 	// background: red;
// }

// @import "modal_main";
// // @import "id.monstr.less";
// // @import "row";
// // @import "backgounds";