.menu__left{
	margin-top: @space*3;
	& .element{
		margin-bottom: @space;
		& a{
			font-size: @font-def-size;
		}
	}
	&.ver2{
		& .element{
			border: solid 2px @border-color;
			.rounded(10px);
			// padding: 2px 5px;
			background: url(/imgs/bg.jpg);
			background-size: cover;
			background-position: center;
			overflow: hidden;
			& a{
				display: block;
				width: 100%;
				padding: 4px 8px;
				font-size: @font-def-size;
				background: rgba(240,240,240,.7);
			}
			&.sel{
				& a{
					background: @border-color;
					color:white;
				}
			}
		}
	}
}